---
layout: ""
page_title: "Provider: Hostinger"
description: |-
  The Hostinger provider provides resources to interact with the Hostinger API.
---

# Hostinger Provider

The Hostinger provider is used to interact with resources supported by
Hostinger. The provider needs to be configured with the proper credentials
before it can be used.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
